// customized
$primary: #959942;
$secondary: #e2e2e2;
$light: #f2f2f2;

@import './_functions';
@import './_variables';
@import './_myutilities.scss';
$custom-theme-colors: (
    'blacks': #505050,
    'orange': #ED6400,
    'oranges':#FFD0A8,
    'green':#959942,
    'darkblue':#005E93,
    'lightgreen':#e1e7e2,
);
$theme-colors: map-merge($custom-theme-colors, $theme-colors );

@import './bootstrap.scss';

ul,
li {
    list-style: none;
}

p {
    letter-spacing: 2px;
    font-size: 17px;
    line-height: 27.2px;
}

img {
    width: 100%;
}

section {
    padding-top: 70px;
    height: 100vh;
}


@media (max-width: 1400px) {

    section,
    .row {
        height: 100% !important;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}



// compoment
.bg-bluer {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: bluer(30px);
    box-shadow: 0px 3px 8px;
}

@media (max-width: 576px) {
    .navbar-brand img {
        width: 180px;
        height: 60px;
        object-fit: contain;
    }
}

.navbar .container {
    flex-direction: column;

    @media (max-width: 992px) {
        flex-direction: row;
    }

    .nav-item {
        padding-left: 4.5em;

    }

    @media (max-width: 576px) {
        .nav-item {
            padding: 0;
        }
    }

    .nav-link {
        position: relative;
        color: #505050;

        &:hover {
            color: #000000;
        }

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 0;
            height: 6px;
            transform: translate(-50%, 0);
            background-color: #ED6400;
            transition: all .4s ease;
        }

        &:hover::after {
            width: 100%;
        }
    }
}

#story {
    background-image: url('../images/Group\ 41.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


section#shop,
section#story {
    height: 100%;
    padding-bottom: 80px;

    .mycard {
        background-color: #fff;
        transition: all .4s;
        position: relative;
        overflow: hidden;
        height: 355px + 118.4px;
        z-index: 2;

        .ribbon {
            clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
            cursor: pointer;
            transition: all .4s ease;
        }

        &:hover .text {
            transition: all .4s;
            opacity: 1;
            background-color: #959942;
            height: 118.4px;
            width: 100%;
            position: absolute;
            bottom: 0;
            color: #fff;
        }

        &:hover .ribbon {
            width: 250px;

            &::before {
                content: "加入購物車";
                padding-top: 20px;
                padding-bottom: 20px;
                padding-right: 50px;
                display: inline-block;
                font-size: 17px;
            }
        }

        .text {
            opacity: 0;
            text-align: left;
            font-size: 17px;
        }
    }
}

#key {
    .bable {
        position: relative;

        &::after {
            @media (max-width: 1440px) {
                display: none;
            }

            content: '';
            display: block;
            position: absolute;
            width: 200px;
            height: 200px;
            background-color: #fff;
            top: 0;
            left: 50%;
            transform: translateX(-30%) translateY(-50%);
            border-radius: 50%;
            box-shadow: 178px 0 0 30px #fff,
            327px 34px 0 20px #fff,
            480px 9px 0 60px #fff,
            690px 71px 0 60px #fff,
            880px 0 0 89px #fff,

            -178px 0 0 30px #fff,
            -327px 34px 0 20px #fff,
            -480px 9px 0 60px #fff,
            -690px 71px 0 60px #fff,
            -880px 0 0 89px #fff,
            -1100px 50px 0 89px #fff;
        }
    }

    .container {
        position: relative;
        z-index: 1;
    }

    h3,
    p {
        writing-mode: vertical-lr;
        color: #505050;
    }

    p {
        font-size: 17px;
        letter-spacing: 2px;
        line-height: calc(17px * 2);
    }
}

#contact {
    background-image: url('../images/contact.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

section#contact{
    height: 100%;
    padding-bottom: 70px;
}