// customized
// $primary: #119500;
$secondary: #e2e2e2;
$light: #f2f2f2;

@import './_functions';
@import './_variables';
@import './_myutilities.scss';
$custom-theme-colors: (
    'blacks': #505050,
    'orange': #ED6400,
    'oranges':#FFD0A8,
    'green':#959942,
    'darkblue':#005E93,
    'lightgreen':#e1e7e2,
);
$theme-colors: map-merge($custom-theme-colors, $theme-colors );

@import './bootstrap.scss';

ul,
li {
    list-style: none;
}

img {
    width: 100%;
}

section {
    padding-top: 70px;
    height: 130vh;
}

@media (max-width: 1400px) {

    section,
    .row {
        height: 100% !important;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

.swiper-pagination-bullet-active {
    background-color: #ED6400;
}

// compoment
.bg-bluer {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: bluer(30px);
    box-shadow: 0px 3px 8px;
}

@media (max-width: 576px) {
    .navbar-brand img {
        width: 180px;
        height: 60px;
        object-fit: contain;
    }
}

.navbar .container {
    flex-direction: column;

    @media (max-width: 992px) {
        flex-direction: row;
    }

    .nav-item {
        padding-left: 4.5em;
    }

    .nav-link {
        position: relative;
        color: #505050;

        &:hover {
            color: #000000;
        }

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 0;
            height: 6px;
            transform: translate(-50%, 0);
            background-color: #ED6400;
            transition: all .4s ease;
        }

        &:hover::after {
            width: 100%;
        }
    }
}

#story {
    background-image: url('../images/Group\ 41.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

section#news {
    height: 100vh;
}

section#shop {
    height: 180vh;

    .mycard {
        background-color: #fff;
        transition: all .4s;
        position: relative;
        overflow: hidden;
        height: 355px + 118.4px;

        .ribbon {
            clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
            cursor: pointer;
        }

        &:hover .text {
            transition: all .4s;
            opacity: 1;
            background-color: #959942;
            height: 118.4px;
            width: 100%;
            position: absolute;
            bottom: 0;
            color: #fff;
        }

        .text {
            opacity: 0;
            text-align: left;
            font-size: 17px;
        }
    }
}